@model PetClinic.Models.Veterinary 
@{
    ViewData["Title"] = "Veterinary";
}


<div class="text-center">
    <h1 class="display-4">PetClinic</h1>
</div>

<div>
    @Model.name
    <hr />
    Address: @Model.address
    <hr />
    City: @Model.city
</div>
